* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #222;
  padding: 5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;

  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
}

.nav.active a {
  color: #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1620815023675-c9ed9927536b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero h1 {
  font-weight: 300;
  font-size: clamp(2rem, 2.5vw, 6rem);
  margin: -2rem 0 2rem;
}

.hero p {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 2rem 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}
